@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(30, 29, 29);
}

#time {
  display: flex;
  color: white;
  gap: 40px;
}

#time .circls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

#time .circls svg {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(270deg);
}

#time .circls svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #363434;
  stroke-width: 4;
  transform: translate(5px, 5px);
}

#time .circls svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
}

.circls div {
  padding-right: 50px;
}

#time div {
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 15px;
}

#time div span {
  position: absolute;
  font-size: 0.35em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: red;
}

#time .app {
  position: relative;
  font-size: 1em;
  transform: translateX(-20px);
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 15px;
  height: 15px;
  background-color: var(--clr);
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px var(--clr), 0px 2px 16px 0px var(--clr);
  animation: TopAnimation 5s linear 2s infinite alternate;
}

@keyframes TopAnimation {
  0% {
    top: 20px;
  }
  10% {
    top: 40px;
  }
  20% {
    top: 60px;
  }
  30% {
    top: 80px;
  }
  40% {
    top: 100px;
  }
  50% {
    top: 120px;
  }
  60% {
    top: 140px;
  }
  70% {
    top: 160px;
  }
  80% {
    top: 180px;
  }
  90% {
    top: 200px;
  }
  100% {
    top: 220px;
  }
}
